.nuton {
    background-color: rgb(41, 196, 41);
    
}
.nutoff {
    background-color: rgb(221, 79, 40);
}
.nutkiemtra {
    background-color: rgb(40, 106, 221);
}
.nutsacpin {
    background-color: rgb(41, 196, 41);
}
.nutsoantinnhan {
    background-color: rgb(221, 161, 40);
}
.nutgui {
    background-color: rgb(221, 161, 40);
}
.nuthopthuden {
    background-color: rgb(221, 161, 40);
}
.nuthopthudi {
    background-color: rgb(221, 161, 40);
}